
<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= link_to current_user.email,  "/user/#{current_user.id}"%>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<h1>Courses U can Learn!</h1>
<div>
  <% @courses.each do |course| %>
  <div>
    <a href="<%= course_path(course) %>">
      <%= course.course_title %>
    </a>
  </div>
  <% end %>
</div>
