<div class="card border-info mb-3 mx-auto" style="max-width: 75rem;">
  <h5 class="card-header"><%= @course.category.category_name %><%= session[:cart] %></h5>
  <div class="card-body">
    <h1 class="card-title"><%= @course.course_title %></h1><br/>
    <p class="card-text"><strong>Release Date:</strong> <%= @course.publish_date.strftime('%B %d, %Y') %></p>
    <p class="card-text"><strong>Number of Lectures:</strong> <%= @course.number_of_lectures %></p>
    <p class="card-text"><strong>Difficulty Level:</strong> <%= @course.difficulty.difficulty %></p>
    <p class="card-text"><strong>Hour Duration:</strong> <%= @course.course_length %></p>

    <%# Price Conditional %>
    <% if @course.price == 0 %>
      <p class="card-text"><strong>Price:</strong> This course is free!</p>
    <% else %>
      <p class="card-text"><strong>Price:</strong> <%= number_to_currency(@course.price) %></p>
      <% if user_signed_in? %>
        <!---Allows user to add items to cart if logged in --->
        <% if !session[:cart].nil? && session[:cart].include?(@course.id) %>
          <%= form_with url:"cart/#{@course.id}/delete", method: :post do %>
            <%= button_tag "Remove From Cart", class: 'btn btn-outline-secondary' %><% end %>
        <% else %>
          <%= form_with url:"cart/#{@course.id}/update", method: :post do %>
            <%= button_tag "Add to cart", class: 'btn btn-outline-primary' %><% end %>
        <% end %>
      <% else %>
        <!---If the user is not signed in the Add to cart redirects to a register/login --->
        <%= form_with url:new_user_session_path, method: :get do %>
          <%= button_tag "Add to Cart", class: 'btn btn-outline-primary' %><% end %>
      <% end %>
    <% end %>
  </div>
</div><br/>
