<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <%= link_to 'uLearn', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto nav-fill">
        <li class="nav-item">
          <%= link_to "About", courses_about_path, class: "nav-link" %>
        </li>

        <%# Search Functionality %>
        <%# <li class="nav-item">
          <%= render 'categories/categories_dropdown' %>
        </li>

        <%# Logged In User Conditional %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <h5 class="navbar-text" display="inline">Welcome, <%= link_to current_user.email, "/user/#{current_user.id}" %></h5>
          </li>
          <li class="nav-item">
            <%= button_to "Sign out", destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete %>
          </li>
          <% if !session[:cart].nil?%>
              <%= button_to 'Cart', "/cart", method: :get, class: 'btn btn-primary ms-2' %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= button_to 'Log In', new_user_session_path, method: :get, class: 'btn btn-outline-primary' %>
            <% new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render 'categories/categories_dropdown' %>
  </div>
</nav>
